<h2>Dashboard</h2>
<div class="row">
	<div class="col-xs-12 input-wrapper">
		<input type="text" ng-model="filter_name" placeholder="Search by name...">
		<input type="submit" value="Filter">
	</div>
</div>

<div class="row">
    <div class="col-xs-12 center_text product-wrapper">
        <div ng-repeat= "product in products | filter:filter_name">
            <div class="col-xs-3 padded">
                <img class="img-responsive" width= '250px' height='220px' ng-src= "{{product.img}}">
                <p>{{product.name}}</p>
                <p>Quanitity Remaining: {{product.qty}}</p>
            </div>
        </div>
    </div>
</div>

 <p class="center_text col-xs-4 col-xs-offset-4"><a href="#/products">Show More...</a></p>

 <div class="updates center_text col-xs-6 col-xs-offset-3">
    <h3>Recent Orders</h3>
    <div class='recent' ng-repeat = "order in orders | filter:filter_name">
            <h5>{{order.name}} purchased {{order.qty}} {{order.product}}...{{order.created_at | date: 'MMMM d, yyyy'}}</h5> 
    </div>
    <p><a href="#/orders">Show all orders...</a></p>
    <h3>New Customers</h3>
    <div class='new_customers' ng-repeat = "customer in customers | filter:filter_name">
            <h5>{{customer.name}} joined the store...{{customer.created_at | date: 'MMMM d, yyyy'}}</h5>
    </div>
    <a href="#/customers">Show all customers</a></p>
</div>